#blogsHome{
    padding-top: 50px;
    padding-bottom: 50px;
}

#blogsHead{
    font-size: 45px;
    font-weight: 900;
}

#blogsSubHead{
    font-size: 18px;
    font-weight: 900;
    margin: 20px;
}

.inputGroup{
    margin-top: 50px;
    width: 50%;
    display: inline-flex;
    border-radius: 10px;
    justify-content: center;
    -webkit-box-shadow: 0 0 10px 2px #AAA;
    -moz-box-shadow: 0 0 10px 2px #AAA;
    box-shadow: 0px 0px 10px 2px #AAA;
}

#searchButton{
    background-color: orange;
    color: white;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

#searchInput{
    border: none;
    height: 100%;
}

#searchInput:hover{
    border: none;
}

.searchIcon{
   margin: 10px;
   padding: auto;
}

#yetToComePrompt{
    font-size: 24px;
    margin: 150px 40px 0px;
  }
  

@media (max-width : 480px) {
    #blogsHead{
        font-size: 30px;
    }
    
    #blogsSubHead{
        font-size: 14px;
    }

    .inputGroup{
        width: 70%;
        height: fit-content;
    }

    #searchButton{
        font-size: 12px;
    }

    #searchInput{
        font-size: 12px;
        padding: 6px;
    }

    #yetToComePrompt{
        font-size: 14px;
        margin: 100px 40px 20px;
      }
}

@media (min-width : 480px) and (max-width : 768px) {
    #blogsHead{
        font-size: 32px;
    }
    
    #blogsSubHead{
        font-size: 16px;
    }

    .inputGroup{
        width: 65%;
        height: fit-content;
    }

    #searchButton{
        font-size: 14px;
    }

    #searchInput{
        font-size: 14px;
        padding: 6px 8px;
    }

    #yetToComePrompt{
        font-size: 18px;
        margin: 100px 40px 50px;
      }
}

@media (min-width : 768px) and (max-width : 1020px) {
    #blogsHead{
        font-size: 34px;
    }
    
    #blogsSubHead{
        font-size: 18px;
    }

    .inputGroup{
        width: 60%;
        height: fit-content;
    }

    #searchButton{
        font-size: 16px;
    }

    #searchInput{
        font-size: 16px;
        padding: 6px 10px;
    }

    #yetToComePrompt{
        font-size: 22px;
        margin: 100px 40px;
      }
}

@media (min-width : 1250px) {
    #blogsHead{
        font-size: 47px;
    }
    
    #blogsSubHead{
        font-size: 20px;
    }

    .inputGroup{
        width: 45%;
        height: fit-content;
    }

    #searchButton{
        font-size: 18px;
    }

    #searchInput{
        font-size: 18px;
        padding: 6px 12px;
    }

    #yetToComePrompt{
        font-size: 32px;
        margin: 100px 40px;
      }
}