.gs{
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin-bottom: 6%;
}

.gsHead{
    font-size: 40px;
    font-weight: 900;
    padding: 0px;
    margin-top: 50px;
}

#steps{
    display: block;
    padding: 0px 10%;
    margin-top: 100px;
}

#step{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

#stepDesc{
    width: 40%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

#stepSSLeft{
    width: 30%;
    height: fit-content;
    margin-left: 10%;
}

#stepSSRight{
    width: 30%;
    height: fit-content;
    margin-right: 10%;
}

#ranks{
    width: 40%;
    height: fit-content;
    margin-right: 10%;
}

#rankDesc{
    width: 30%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

#stepsMob{
    display: none;
    padding: 0px 10%;
    margin-top: 50px;
    
}

#stepMob{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#stepDescMob{
    width: 80%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

#stepSSMob{
    width: 40%;
    height: fit-content;
}

@media (min-width : 1200px) {
    .gsHead{
        font-size: 45px;
        margin: 50px 10% 0px;
    }

    #steps{
        margin-top: 75px;
    }
}
@media (min-width : 480px) and (max-width : 789px) {
    .gsHead{
        font-size: 28px;
        margin: 50px 10% 0px;
    }

    #steps{
        margin-top: 60px;
    }
}

@media (max-width : 480px) {

    .gs{
        margin-bottom: 15%;
    }
    .gsHead{
        font-size: 20px;
        margin: 50px 10% 0px;
    }

    #steps{
        display: none;
    }

    #stepsMob{
        display: block;
        margin-top: 10%;
    }

    #stepMob{
        margin-top: 5%;
    }

    #stepDescMob{
        width: 90%;
    }

    #stepSSMob{
        width: 60%;
    }
}