#m-head{
    font-size: 50px;
    color: black;
    text-align: center;
}

#m-body{
    width: fit-content;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
}

#m-box{
    -webkit-box-shadow: 0 0 10px 2px #AAA;
    -moz-box-shadow: 0 0 10px 2px #AAA;
    box-shadow: 0px 0px 10px 2px #AAA;
    margin: 20px;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
}

#m-image{
    width: 80px;
}

#m-title{
    font-size: medium;
    margin-top: 20px;
    font-weight: 900;
}

#m-desc{
    font-size: xx-small;
    margin-top: 10px;
    font-weight: 900;
    text-align: center;
    padding: 0px 10px;
    width: 200px;
}

@media (max-width:480px) {
    #m-head{
        margin-top: 50px;
        font-size: 24px;
        color: black;
        text-align: center;
    }
    
    #m-body{
        width: fit-content;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    
    #m-box{
        -webkit-box-shadow: 0 0 10px 2px #AAA;
        -moz-box-shadow: 0 0 10px 2px #AAA;
        box-shadow: 0px 0px 10px 2px #AAA;
        margin: 10px;
        width: fit-content;
        border-radius: 10px;
        padding: 10px;
    }
    
    #m-image{
        width: 80px;
    }
    
    #m-title{
        font-size: small;
        margin-top: 10px;
        font-weight: 900;
    }
    
    #m-desc{
        font-size: xx-small;
        margin-top: 10px;
        font-weight: 900;
        text-align: center;
        padding: 0px 10px;
        width: 200px;
    }
}

@media (min-width : 481px) and (max-width:768px) {
    #m-head{
        margin-top: 40px;
        font-size: 35px;
        color: black;
        text-align: center;
    }
    
    #m-body{
        width: fit-content;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 30px;
    }
    
    #m-box{
        -webkit-box-shadow: 0 0 10px 2px #AAA;
        -moz-box-shadow: 0 0 10px 2px #AAA;
        box-shadow: 0px 0px 10px 2px #AAA;
        margin: 10px;
        width: fit-content;
        border-radius: 10px;
        padding: 10px;
    }
    
    #m-image{
        width: 50px;
    }
    
    #m-title{
        font-size: medium;
        margin-top: 20px;
        font-weight: 900;
    }
    
    #m-desc{
        font-size: 8px;
        margin-top: 7px;
        font-weight: 900;
        text-align: center;
        padding: 0px 10px;
        width: 100px;
    }
}

@media (min-width : 769px) and (max-width:1279px){
    #m-head{
        font-size: 40px;
    }
}