.referAFriendContainer{
    width: 100%;
    margin-bottom : 10%;
}
.rDiv{
    padding: 5% 20px;
    display: inline-flex;
    height: fit-content;
    justify-content: center;
    width: 80%;
}

.rText{
    width: 40%;
    display: block;
    height: min-content;
    padding: auto;
}

.rTitle{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-align: left;
}

.rDesc{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    width: 90%;
    margin-top: 20px;
}

.rImgDiv{
    display: block;
    padding: 0px;
    width: 40%;
    height: 100%;
    margin-left: 10%;
}

.rImg{
    width: auto;
    height: auto;
    padding: 8px;
}

@media (max-width : 480px) {
    .rDiv{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .rText{
        width: 100%;
    }

    .rTitle{
        font-size: 24px;
        text-align: center;
    }

    .rDesc{
        margin-top: 10px;
        font-size: 15px;
        text-align: justify;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .rImgDiv{
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    .rImg{
        width: 75%;
        height: auto;
    }
}

@media (min-width : 480px) and (max-width : 768px) {
    .rTitle{
        font-size: 26px;
    }

    .rDesc{
        font-size: 14px;
    }

    .rImg{
        width: auto;
        height: auto;
    }
}

@media (min-width:1200px) {
    .rTitle{
        font-size: 40px;
    }

    .rDesc{
        font-size: 20px;
    }

    .rImg{
        width: auto;
        height: auto;
        padding: 15px;
    }
}